html {
  background: url('../images/background0.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

body {
  background: url("../images/background0.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  border: 0;
}

body > * {
  font-family: "Luckiest Guy", cursive;
}

.divcontainerI {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.maintextI {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

.maintextI h1{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

.center{
  text-align: center;
}

.maintextA {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

.maintextAA {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

.maintextB {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}


.maintextBB {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

.maintextC {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

.aboutme-social-links {
  color: black;
  padding-right: 15px;
  text-align: center;
}

.aboutme-social-links a {
  color: black;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
}

.aboutme-social-links a:hover {
  color: #45FFCA;
}



.aboutme-socialicons {
  color: black;
  padding: 10px;
}

.aboutme-socialicons:hover {
  color: #45FFCA;
}

h3 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}

h2 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}
h1 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}

h4 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}

h5 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}

h6 {
  /* margin: 20px; */
  margin: 11px 0 17px 0;
  
  color: black;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  
}

 .card{
        backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    }
    .card-text{
        margin-bottom: 0;
    }


#Card1 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  text-align: center;
  }

#Card2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  text-align: center;
}
   
#Card3 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  text-align: center;
}

#Card4 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  text-align: center;
}

.divcontainerIi {
  display: inline-grid;
  gap: 0;
  grid-template-columns: 0.5fr 0.5fr 0.05fr;
  grid-template-rows: 1fr;
}
.d-grid{
  display:grid;
  grid-template-columns: repeat(4, 0.5fr);
}
#AboutMe {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  text-align: center;
}

.small {
  font-size: small;
}

.xsmall {
  font-size: xx-small;
}

.buttonback{
        backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    }