.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.luckiest-guy-bold {
  font-family: "Luckiest Guy", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  background: url("../images/background0.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  border: 0;
}

.maintextC {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7;
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
}

h3 {
  /* margin: 20px; */
  text-transform: uppercase;
  letter-spacing: -2px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}